// You can add CSS rules here that will be inlucded in Hydejack's CSS file
body {
    text-rendering: optimizeLegibility;
    font-size: 1.15rem;
    font-family: "EB Garamond";
    line-height: 1.3em;
    margin-bottom: 1em;
    background-color: #f9e0a8;
}

h1 {
    font-variant: small-caps;
    font-size: 1.4rem;
}

a {
    font-size: 1.25rem;
}

.content a:not(.btn) {
    color: #bc5e21
}

.avatar {
    width: 14rem;
    height: 14rem;
}

.highlight {
    max-width: 100%;
}

.katex-display {
    max-width: 100%;
}

.flip-title {
    font-size: 1.6rem;
}

dt {
    padding: 0.2rem;
    margin: 20px;
}

.hr {
    color: #dde8e0;
}

.project-block > * {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.project-desc {
    display: inline-block;
    max-width: 60%;
}

.project-image {
    display: inline-block;
    max-width: 35%;
}