---
layout: page
title: Featured Projects
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    {% for project in site.projects %}
        <h2>{{ project.project_name }}</h2>
        <div class="project-block">
            <div class="project-desc">
                <p>{{ project.content | markdownify }}</p>
            </div>
            <div class="project-image">
                <img src="{{ project.image }}">
            </div>
        </div>
        {% if project.journal_link %}
            <a href="{{ project.journal_link }}" class="fa fa-file-text-o" style="font-size:24px"> journal</a>
        {% endif %}
        {% if project.arxiv_link %}
            <a href="{{ project.arxiv_link }}" class="fa fa-file-text" style="font-size:24px"> arxiv</a>
        {% endif %}
        {% if project.github_link %}
            <a href="{{ project.github_link }}" class="fa fa-github" style="font-size:24px"> github</a>
        {% endif %}
    {% endfor %}
</div>
